<h1>Gustavo Guimaraes's Home Page</h1>

<h2> About </h2>

<p>I am NYC Web Development Fellow. I am currently learning coding at the <a href="http://flatironschool.com/nycworkforce1/">Flatiron School</a></p>

<h2>Links</h2>

<a href="http://gustavocguimaraes.wordpress.com/">Coding Blog</a><br/>
<a href="https://github.com/gustavoguimaraes/">Github</a><br/>
<a href="https://twitter.com/gus_tavo_guim">Twitter</a>
<br><br/>
 
 <h2>Projects Created While Learning to Code</h2>

 <a href="https://rock-paper-scissors-s.herokuapp.com/">Rock, paper, and scissors app<a/>
  <p>My first Sinatra app</p>

  <a href="https://er-compliments.herokuapp.com/">Emergency Compliment application<a/>
  <p>Simple application using Sinatra</p>

  <a href="https://sinatra-project-playlister.herokuapp.com/">Playlister<a/>
  <p>An exercise on parsing data</p>

<br></br>
  <h3>More to come!</h3>





