
<div class="hand"> 
  <img src="/images/dancing_hand.jpg" alt="my pic">
  <a href="/">
    <header>
      <h1>Dance With Gus</h1>
      <h3>Web Dev Portfolio</h3>
    </header>
  </a>
  <a href="/about"><div class="about">
    About
  </div></a>
  <a href="/about"><div class="links">
    Links
  </div></a>
  <a href="/projects">
    <div class="projects">
      Projects
    </div>
  </a>
  <a href="/contact">
    <div class="contact">
      Shall We Dance?
    </div>
  </a>

  
</div>






