<div class="hand"> 
 <!--  <img src="/images/hand2.jpg" alt="my pic"> -->
  <a href="/">
    <header>
      <h1>Dance With Gus</h1>
      <h3>Web Dev Portfolio</h3>
    </header>
  </a>
  
  <a href="/" class="myBoxes" data-which="about"><div class="about">
    About
  </div></a>
  <a href="/" class="myBoxes" data-which="links"><div class="links">
    Links
  </div></a>
  <a href="/projects" class="myBoxes" data-which="projects">
    <div class="projects">
        Projects
    </div>
  </a>
  <a href="/" class="myBoxes" data-which="contact">
    <div class="contact">
      Shall We Dance?
    </div>
  </a>


  <div id="about" class="content myDivs">
    <h2>ABOUT</h2>
      <p>I am a former professional modern dancer (creative stuff) who upon graduating with a political sciences degree, ended up working in sales operations and financial analysis (not creative). A friend introduced me to the world of programming and creativity started to boom again. Happiness ensued and I became a web developer.<br></br> I look forward to working with you on an exciting project. <br></br>Shall we dance?</p>
  </div>

  <div id="links" class="content myDivs">
    <h2>LINKS</h2>
      <p><a href="http://gustavocguimaraes.wordpress.com/" target="blank">Check out my Blog</a></p>
      <p><a href="https://github.com/gustavoguimaraes/" target="blank">Peruse my Github</a></p>
      <p> <a href="http://www.linkedin.com/in/gustavocguimaraes" target="blank">Read my LinkedIn page</a>
      </p>
  </div>

  <div id="projects" class="content myDivs">
    <h2>
      Go on, </h2>
      <p>click on my middle finger</p>
    
  </div>

  <div id="contact" class="content myDivs">
    <h2>Contact</h2>
      <h5>Simply pick a dance of your choice, put your best dance pants and let's groove:</h5>
      <p><a href="mailto:gustavoguimaraes@gmail.com" target="blank">Tango</a></p> 
      <p><a href="mailto:gustavoguimaraes@gmail.com" target="blank">Swing Dance</a></p>
      <p><a href="mailto:gustavoguimaraes@gmail.com" target="blank">Any dance you want</a>
        <img src="/images/dancing_person.gif" style="position:relative; right: 52%;">
      </p>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/script.js"></script>