<h1>Gustavo Guimaraes's Home Page</h1>

<h2>About</h2>

<p>I am NYC Web Development Fellow. I am currently learning programming at the <a href="http://flatironschool.com/nycworkforce1/">Flatiron School</a></p>

<h2>Links</h2>

<a href="http://gustavocguimaraes.wordpress.com/">Coding Blog</a><br/>
<a href="https://github.com/gustavoguimaraes/">Github</a><br/>
<a href="http://www.linkedin.com/in/gustavocguimaraes">LinkedIn</a>
<br><br/>
 
 <h2>Projects Created While Learning to Code</h2>

 <a href="https://rock-paper-scissors-s.herokuapp.com/">Rock, Paper, and Scissors<a/>
  <p>My first Sinatra app</p>

  <a href="https://er-compliments.herokuapp.com/">Emergency Compliment Application<a/>
  <p>Simple application using Sinatra</p>

  <a href="https://sinatra-project-playlister.herokuapp.com/">Playlister<a/>
  <p>An exercise on parsing data</p>

  <a href="https://isittodayapp.herokuapp.com/">Birthday Countdown Application<a/>
  <p>Countdown to some of my friend's and relatives' birthdays</p>
  <a href="https://piglatintranslator.herokuapp.com/">Pig Latin Translator<a/>
  <p>English to pig latin translator. Built using the Sinatra ruby framework</p>

<br></br>
  <h3>More to come!</h3>





