<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" 
      type="image/gif" 
      href="images/dancing_person.gif">
    <title>GUSTAVO'S PORTIFOLIO</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
    
  </head>
  <body>
    <%=yield%>
  </body>
</html>