
<div class="hand"> 
  <img src="/images/dancing_hand.jpg" alt="my pic">
  <a href="/">
    <header>
      <h1>Dance With Gus</h1>
      <h3>Web Dev Portfolio</h3>
    </header>
  </a>
  <a href="/about">
    <div class="about">
      About
    </div>
  </a>
  <a href="/links">
    <div class="links">
      Links
    </div>
  </a>
  <a href="/projects">
    <div class="projects">
      Projects
    </div>
  </a>
  <a href="/contact">
    <div class="contact">
      Shall We Dance?
    </div>
  </a>

  <div class="content">
    <h2>LINKS</h2>
      <p><a href="http://gustavocguimaraes.wordpress.com/" target="blank">Check out my Blog</a></p>
      <p><a href="https://github.com/gustavoguimaraes/" target="blank">Peruse my Github</a></p>
      <p> <a href="http://www.linkedin.com/in/gustavocguimaraes" target="blank">Read my LinkedIn page</a>
      </p>
  </div>
  
</div>