
<div class="hand"> 
  <img src="/images/dancing_hand.jpg" alt="my pic">
  <a href="/">
    <header>
      <h1>Dance With Gus</h1>
      <h3>Web Dev Portfolio</h3>
    </header>
  </a>
  <a href="/about">
    <div class="about">
      About
    </div>
  </a>
  <a href="/links">
    <div class="links">
      Links
    </div>
  </a>
  <a href="/projects">
    <div class="projects">
      Projects
    </div>
  </a>
  <a href="/contact">
    <div class="contact">
      Shall We Dance?
    </div>
  </a>

  <div class="content-projects">
    <h2>Projects</h2>
      <p><a href="https://rock-paper-scissors-s.herokuapp.com/" target="blank">Rock, Paper, and Scissors<a/>
      <br>My very first app</p>

      <p><a href="https://er-compliments.herokuapp.com/" target="blank">Emergency Compliment Application<a/>
      <br>Simple application using Sinatra</p>

      <p><a href="https://sinatra-project-playlister.herokuapp.com/" target="blank">Playlister<a/>
      <br>An exercise on parsing data</p>

      <p><a href="https://isittodayapp.herokuapp.com/" target="blank">Birthday Countdown Application<a/>
      <br>Countdown to some of my friend's and relatives' birthdays</p>

      <p><a href="https://piglatintranslator.herokuapp.com/" target="blank">Pig Latin Translator<a/>
      <br>English to Pig Latin translator.</p>

      <br></br>
        <h3>More to come!</h3>
  </div>
  
</div>