<div class="content-projects">
  <h2>Projects</h2>
    
    <p><a href="https://paintforfun.herokuapp.com/" target="blank">Paint for Fun<a/> and <a href="https://circledrawing.herokuapp.com/" target="blank">Circular Drawing:<a/>
    Applications built as a means to learn about websockets. Stacks: Node.js, Express, Paint.js, Socket.io</p>

    <p><a href="https://angelhack-lifelines.herokuapp.com/" target="blank">LifeLines:</a>
      Built within a <a href="http://www.hackathon.io/projects/4027" target="blank">team</a> during the Hack-Upon-A-Cause event. Implemented the Angular part of the application. 
    </p>
    
    <p><a href="https://gamesbygus.herokuapp.com" target="blank">Card Games:<a/>
    Jeorpardy and Kat Sutra. Used Sinatra and Jquery </p>
    
    <p>
      <a href="https://piglatintranslator.herokuapp.com/" target="blank">Pig Latin Translator:<a/>
      English to Pig Latin translator
    </p>
    
    <p>
      <a href="https://isittodayapp.herokuapp.com/" target="blank">Birthday Countdown Application:<a/>
      Countdown to some of my friend's and relatives' birthdays
    </p>
   

    <p>
      <a href="https://sinatra-project-playlister.herokuapp.com/" target="blank">Playlister:<a/>
      An exercise on parsing data using Youtube API
    </p>
    

     <p>
      <a href="https://er-compliments.herokuapp.com/" target="blank">Emergency Compliment Application:<a/>
      Simple application using Sinatra
    </p>

    <p>
      <a href="https://rock-paper-scissors-s.herokuapp.com/" target="blank">Rock, Paper, and Scissors:<a/>
      My very first web app
    </p>

    <h3>More to come!</h3>

</div>

<div class="return">
  <a href="/">Return Home</a>
</div>